body, html {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  background-color: #b3b8e0;
}

header {
  background-color: #3f51b5; 
  color: #dce6e7;
  padding: 20px;
  text-align: center;
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px; 
}

h1 {
  color: #29365f;
  text-align: center;
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  margin: 40px 0;
}

h2 {
  font-size: 24px;
  color:#222c4e;
  text-align: center; 
}

p {
  
  color:#1c2441; 
  text-align: center; 
}

ol {
  
  color:#1c2441;
}

h1 + hr {
  margin-left: calc(-1 * var(--global-padding)); 
  margin-right: calc(-1 * var(--global-padding));
  width: auto;
  margin-top: 0;
  margin-bottom: 0px; 
  background-color:  #3f51b5;
  height: 2px;
  border: none;
}



#color-selection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-around; 
  margin-bottom: 40px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #3f51b5;
}

#swatches-container {
  width: 70%; 
  border: 2px solid #33419a;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  min-height: 150px;
  background-color: #e8eaf6;
  border-radius: 8px;
  position: relative;
}

#colorPicker {
  height: 50px; 
  width: 50px;
  border: 0.3px solid #ccc; 
  cursor: pointer;
}

#gradient-display {
  cursor :grabbing;
  width: 100%; 
  height: 100px;
  margin-top: 20px;
  background-image: linear-gradient(to right, #f7f7f7, #fafafa);
  border: 2px solid #303f9f;
  border-radius: 8px; 
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.swatch {
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: grab;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
}

#color-selection label {
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  color :#b3b8e0;  
}


#context-menu {
  display: none;
  position: absolute; 
  z-index: 100; 
  background-color: #ffffff; 
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  border-radius: 5px; 
  padding: 10px; 
  width: 200px;
  box-sizing: border-box; 
}

#context-menu div {
  padding: 8px 10px; 
  cursor: pointer;
  transition: background-color 0.2s;
}

#context-menu div:hover {
  background-color: #f7f7f7; 
}

#context-menu div:not(:last-child) {
  border-bottom: 1px solid #eee;
}

#context-menu div:active {
  background-color: #eaeaea; 
}



.content-wrapper {
  display: flex;
  width: 100%; 
  height: auto; 
}

.left-content, .right-content {
  padding: 20px;
  width: calc(50% - 40px);
}

.left-content {
  flex: 0.35;
  border-right: 3px solid  #3f51b5;
    padding-right: 20px; 
  
}

.right-content {
  flex: 0.65;
  padding-left: 20px;
 
}

#selected-color-container {
  text-align: center;
  margin-top: 20px;
  
 
}

#selected-color-label {
  margin-bottom: 10px;
}

#selected-color-display {
  width: 100px;
  height: 50px;
  margin: 0 auto; 
  border: 1px solid #000; 
  display: inline-block;
  background-color: #f7f7f7; 
}
